/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
}
header, footer{
    width: 100%;
    background-color: #2104D9;
    color: white;
}
h1 {
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
    display: grid;
    position: absolute;
    font-weight: bold;
    padding-top: 1em;
    padding-left: 1.25em;
}
header p {
    display: flex;
    height: 110px;
    margin-top: 3em;
    align-items: center;
    font-size: 1em;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right,#2104D9, #030A8C, black);
}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    z-index: 3;
    top: -12.5em;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}
nav {
    position: absolute;
}
.container {
    position: relative;
    display: flex;
    padding: 3em 5em 0em 18.4em;
    top: -16em;
    background-color: #030A8C;
}
li:first-child {
    position: absolute;
    color: white;
    display: flex; 
    top: -11em;
    left: 8em;
}
li:first-child a {
    color: white;
    position: absolute;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5em;
}
li:nth-child(n+2) a {
    color: #590242;
    text-transform: uppercase;
    text-decoration: none;
}
ul {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    margin-top: -6em;
    padding: 0 5px;
}
h2 {
    position: relative;
    color: #590242;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    top: -.2em;
    left: .9em;
}
#trending{
    position: relative;
    top:5em;
}
#trending h3{
    color: #590242;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    padding-bottom: 0.5em;
}
#trending .artist {
    color: #590242;
    font-style: italic;
}
#trending p {
    color: #590242;
}
audio::-webkit-media-controls-mute-button {
    background-color: white;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background: rgba(255,255,255,.75)
}
.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section {
    margin: 10px;
    position: relative;
}
.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
audio {
    position: relative;
    top: -9em;
    right: -.3em;
}