/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    height: 1600px;
}
header {
    width: 100%;
    background-color: #2104D9;
    color: white;
}
h1 {
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
    display: grid;
    position: absolute;
    font-weight: bold;
    padding-top: 1em;
    padding-left: 1.25em;
}
header p {
    display: flex;
    height: 110px;
    margin-top: 3em;
    align-items: center;
    font-size: 1em;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right,#2104D9, #030A8C, black);
}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
nav {
    position: absolute;
    width: 375px;
    top: 0;
    text-transform: uppercase;
    background-color: #030A8C;
    margin-top: -50px;
}
[href="#home"] {
    position: absolute;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.75em;
    padding: 40px 16px;
    text-transform: capitalize;
    top: -1em;
    left: 95px;
}
li a {
    display: block;
    text-decoration: none;
    color: white;
}
ul {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    margin-right: 11px;
}
li:nth-child(n+2) a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
li:nth-child(n+2) a:hover {
    color: #590242;
}
#trending h2 {
    position: relative;
    color: #590242;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    top: -.7em;
    left: .9em;
}
#trending{
    position: relative;
    top: 3em;
    margin-bottom: 10em;
}
#trending h3{
    color: #590242;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    padding-bottom: 0.5em;
}
#trending .artist {
    color: #590242;
    font-style: italic;
}
.more-trending {
    color: white;
    background-color: #590242;
    border-radius: 5px;
    position: absolute;
    bottom: -3em;
    right: 13em;
    font-size: 1em;
    width: 150px;
    height: 30px;
}
.more-trending:hover {
    background-color:#020659;
}
audio::-webkit-media-controls-mute-button {
    background-color: white;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background: rgba(255,255,255,.75)
}
.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section {
    margin: 10px;
    position: relative;
    margin-bottom: -1em;
}
.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
audio {
    position: relative;
    top: -9em;
    right: -.3em;
}
#playlists h2 {
    color: #590242;
    font-size: 1em;
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
    bottom: 57em;
    left: .9em;
    white-space: nowrap;
    height: 20px;
}
#playlists {
    display: flex;
    margin-top: 120px;
    background-color: #0D8DFB;
    height: 270px;
}
#playlists section {
    margin: 12px;
    background-color: #2699FB;
    padding: 7px;
}
#playlists h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 1em;
}
#playlists p {
    color: white;
    text-align: center;
    font-size: .9em;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
.all-playlists {
    color: white;
    background-color: #590242;
    border-radius: 5px;
    position: absolute;
    top: 62em;
    right: 13em;
    font-size: 1em;
    width: 150px;
    height: 30px;
}
.all-playlists:hover {
    background-color: #020659;
}
#curated {
    display: flex;
    margin-top: 120px;
    background-color: #030A8C;
    height: 270px;
}
#curated h2 {
    color: #590242;
    font-size: 1em;
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
    bottom: 33em;
    left: .9em;
    white-space: nowrap;
    height: 20px;
}
#curated section {
    margin: 12px;
    background-color: #020873;
    padding: 7px;
}
#curated h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 1em;
}
#curated p {
    color: white;
    text-align: center;
    font-size: .9em;
}
.more-curated {
    color: white;
    background-color: #590242;
    border-radius: 5px;
    position: absolute;
    top: 86.5em;
    right: 12.8em;
    font-size: 1em;
    width: 150px;
    height: 30px;
}
.more-curated:hover {
    background-color:#020659;
}
footer {
    width: 100%;
    display: flex;
    margin: 80px 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #590242;
    font-size: .9em;
    text-align: center;
}
@media screen and (min-width:834px) {
    body {
        width: 834px;
        margin-bottom: 0;
    }
    nav {
        width: 100%;
    }
    nav ul{
        overflow: visible;
        position: absolute;
        top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        left: 10em;
        gap: 5em;
        margin-right: 50px;
    }
    [href="#home"] {
        top: -1.3em;
        left: -154px;
    }
    label span, input {
        display: none;
    }
    .more-trending {
        right: 2em;
    }
    #playlists {
        width: 50.5%;
        height: 500px;
        margin: 8em 0em;
    }
    #playlists div.scroll {
        display: grid;
        overflow-x: hidden;
        overflow-y: visible;
        grid-template-columns: repeat(1, 1fr);
    }
    #playlists p {
        width: 40%;
        position: relative;
        display: grid;
        margin-left: 13em;
        align-items: center;
        top: -7em;
    }
    #playlists h3 {
        width: 40%;
        position: relative;
        display: grid;
        top: -7em;
        margin-left: 11.75em;
        align-items: center;
    }
    #playlists section {
        height: 150px;
    }
    #playlists img {
        display: grid;
        margin-top: 1em;
        margin-left: .75em;
    }
    .all-playlists {
        top: 77em;
        right: 27em;
    }
    #curated h2 {
        top: 41.9em;
        left: 27em;
    }
    .more-curated {
        top: 77em;
        right: 2em;
    }
    #curated {
        width: 49.7%;
        height: 500px;
        margin: -39.25em 26.3em;
    }
    #curated div.scroll {
        display: grid;
        overflow-x: hidden;
        overflow-y: visible;
        grid-template-columns: repeat(1, 1fr);
    }
    #curated p {
        width: 40%;
        position: relative;
        display: grid;
        margin-left: 13em;
        align-items: center;
        top: -7em;
    }
    #curated h3 {
        width: 40%;
        position: relative;
        display: grid;
        top: -7em;
        margin-left: 11.75em;
        align-items: center;
    }
    #curated section {
        height: 150px;
    }
    #curated img {
        display: grid;
        margin-top: 1em;
        margin-left: .75em;
    }
    footer {
        margin: 750px 0;
    }
}